 {{#each posts as |post|}}
  <section class="container">
    <h3 class="gallery-name">{{post.title}}</h3>
    <h4>{{post.content}}</h4>
    <h4>{{post.posting_date}}</h4>
    </section>
  {{/each}}
    <div class="form-group">
        <form action="/new">
             <input type="submit" value="New Post +" />
        </form>
    </div>

