<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">New Post</h2>
        <div class="collapse" id="collapseExample">
            <form class="form login-form">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class="form-input" type="text" size="50" id="post-title" />
            </div>
            <div class="form-group">
                <label for="post-title">Content:</label>
                <textarea class="form-input" rows="'3" cols="50" id="post-content"></textarea>
            </div>
            <div class="form-group">
                 <button class="btn btn-primary" type="submit">Create</button>
            </div>
            </form>
        </div>
   </div>
</div>

<script src="./js/newPost.js"></script>